// See: https://vuetifyjs.com/en/customization/sass-variables
$body-font-family: 'Krub', serif;
$card-text-font-size: 16px;
$heading-font-family: 'Poppins', serif;
$btn-font-weight: 800;
$material-light: (
  'background': #f9f9f9
);
